body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F0E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #1312128e;
  background: #1312128e;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #1312128e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #313030;
}

form div::before {
  border-bottom: 1.5px solid rgb(243 243 243) !important;
}

input,
label,
span svg:nth-child(1),
.dmajdp>span {
  color: #e7e7e7 !important;
}

.dashboard label,
.dashboard input {
  color: #112132 !important;
}

.dashboard label {
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 2px ;
}

.lkjDVC {
  border: dashed 2px #ed6c02 !important;
}

.css-1r74e2h-MuiFormLabel-root-MuiInputLabel-root {
  color: #ed6c02 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #112132 inset !important;
  -webkit-text-fill-color: #e7e7e7 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.instagram {
  border-radius: 20%;
  color: #fff;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}

.social-icons {
  font-size: 33px !important;
}

.share {
  -webkit-justify-content: none !important;
  justify-content: flex-start !important;
  padding-left: 15px !important;
}

.insta-heart-like {
  animation-duration: 1000ms;
  animation-name: like-heart-animation;
  animation-timing-function: ease-in-out;
}

.insta-heart-dislike {
  animation-duration: 300ms;
  animation-name: dislike-heart-animation;
  animation-timing-function: ease-in-out;
}

@keyframes dislike-heart-animation {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }

  25% {
    opacity: .9;
    transform: translateX(20%);
  }

  50% {
    opacity: .9;
    transform: translateX(0%);
  }

  75% {
    transform: translateX(-20%);
  }

  100% {
    opacity: .9;
    transform: translateX(0%);
  }
}

@keyframes like-heart-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  15% {
    opacity: .9;
    transform: scale(1.2);
  }

  30% {
    transform: scale(.95);
  }

  45%,
  80% {
    opacity: .9;
    transform: scale(1);
  }
}